.headerApp {
    width: 100%;
    background-color: #fff;
    font-family: "Open sans", sans-serif;
    margin-bottom: 2px;
}

.headerApp .borderTop {
    background-color: #f12535;
    display: flex;
    justify-content: space-between;
    padding: .7rem 3rem;
    color: #fff;
}

.headerApp .borderTop div {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.headerApp .borderTop div svg {
    font-size: 1.4rem;
}

.headerApp .logoAndBarSearch {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 5rem;
    width: 90%;
    margin: 0 auto;
}

.headerApp img {
    width: 100px;
}

.headerApp .btnSearch {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    font-weight: bold;
    cursor: pointer;
    background-color: #f12535;
    color: #fff;
    font-size: 1rem;
    border-radius: 3rem;
}

.headerApp .btnSearch svg {
    font-size: 1.4rem;
    font-weight: bold;
}

.headerApp .linksCagnottes {
    display: flex;
    align-items: center;
    gap: 1.7rem;
    justify-content: center;
    background-color: #fff;
    height: 50px;
}

.headerApp .linksCagnottes a {
    text-decoration: none;
    font-weight: bold;
    color: #111;
    font-family: "Roboto";
}

.headerApp .prodSearch {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    font-weight: bold;
    border: 1px solid #ddd;
    cursor: pointer;
}