.headerApp {
    width: 100%;
    background-color: #fff;
    margin-bottom: 2px;
    position: sticky;
    top: 0;
    z-index: 1;
}

.headerApp .borderTop {
    background-color: #009c4e;
    display: flex;
    justify-content: space-between;
    padding: .9rem 5rem;
    color: #fff;
}

.headerApp .borderTop div {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.headerApp .borderTop div svg {
    font-size: 1.2rem;
    cursor: pointer;
}

.headerApp .logoAndBarSearch {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 5rem;
    width: 100%;
    margin: 0 auto;
}

.headerApp img {
    width: 100px;
}

.headerApp .btnSearch {
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: .5rem;
    cursor: pointer;
    background-color: #009c4e;
    color: #fff;
    border-radius: 3px;
    font-size: 14px;
}

.headerApp .btnSearch svg {
    font-size: 1rem;
    font-weight: bold;
}

.headerApp .linksCagnottes {
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: center;
    background-color: #fff;
    height: 50px;
}

.headerApp .linksCagnottes a {
    text-decoration: none;
    color: #111;
}

.headerApp .prodSearch {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    font-weight: bold;
    border: 1px solid #ddd;
    cursor: pointer;
    border-radius: 5px;
}

@media screen and (max-width:500px) {
    .headerApp .borderTop {
        padding: 1rem 2rem !important;
    }
}

@media screen and (max-width:390px) {
    .headerApp .borderTop {
        flex-direction: column !important;
    }
}

@media screen and (max-width:970px) {
    .headerApp .logoAndBarSearch {
        padding: 1rem !important;
    }
}

@media screen and (max-width:870px) {
    .headerApp .logoAndBarSearch {
        flex-direction: column !important;
    }

    .headerApp .linksCagnottes{
        width: 100%;
    }
}


@media screen and (max-width:500px) {
    .headerApp .linksCagnottes{
        flex-direction: column;
        gap: 10px;
        height: auto;
        margin: .4rem auto;
    }
}