.mainDashboard {
    height: 100vh;
    width: 100%;
}

.mainDashboard .contentMain {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
}

.mainDashboard .contentMain .contentLeftBar {
    width: 15.5%;
    background-color: #fff;
    height: 100vh;
}

.mainDashboard .mainData {
    width: 83.5%;
    margin-top: 83px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-height: 500px;
    padding-right: 1rem;
}

.mainData .lastRapport {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mainData .lastRapport span {
    font-size: 1.5rem;
    color: #555;
}

.mainData .cards {
    margin-right: 2rem !important;
    display: flex;
    gap: 1rem;
    justify-content: space-around;
}

.mainData .cards .col-sm-3 {
    height: 180px;
    width: 24%;
}

.mainData .cards .col-sm-3 .card {
    border-radius: 5px;
    border: 1px solid #efefef;
    padding: 1rem;
    height: 100%;
}

.mainData .cards .col-sm-3 .todays {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.mainData .cards .col-sm-3 .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mainData .cards .col-sm-3 .head span {
    font-weight: bold !important;
    color: #555;
}

.mainData .cards .col-sm-3 .mainBody {
    display: flex;
    align-items: center;
    gap: 13px;
}

.mainData .mainBody .number {
    font-size: 1.3rem;
    font-weight: 600;
}

.mainData .footerCard {
    display: flex;
    justify-content: space-between;
}

.mainData .footerCard div {
    display: flex;
    flex-direction: column;
}

.mainData .footerCard div span:first-child {
    font-size: 12px;
}

.mainData .mainBosy4 {
    height: 100px;
    display: flex;
    width: 250px;
    margin-top: 1rem;
}

.mainData .charts {
    display: flex;
    gap: 1rem;
}

.mainData .charts .card {
    width: 49.5%;
    background-color: #fff !important;
    border: 0;
}

@media screen and (max-width:1040px) {
    .mainData .cards {
        display: grid;
        grid-template-columns: repeat(2, 49%);
    }

    .mainData .cards .col-sm-3 {
        width: 100%;
    }
}

@media screen and (max-width:580px) {
    .mainData .cards {
        display: grid;
        grid-template-columns: repeat(1, 100%);
        gap: 0;
        margin-right: 0 !important;
    }

    .mainData .cards .col-sm-3 {
        width: 100%;
        margin-bottom: 1rem;
    }

    .mainData .charts {
        flex-direction: column;
    }

    .mainData .charts .card{
        width: 100%;
    }
}

