.payement {
    width: 75%;
    margin: 2rem auto;
}

.payement a {
    color: #009c4e;
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
}

.payement .showFalse {
    display: none !important;
}

.payement h5 {
    font-size: 2rem !important;
    font-weight: bold;
    text-align: center;
    margin-top: 1rem !important;
    margin-bottom: 1.5rem !important;
    font-family: "Poppins";
}

.payement .form {
    background-color: #fff;
    border-radius: 5px;
    padding: 2rem;
    text-decoration: none;
}

.payement input,
.payement select,
td,
button,
textarea {
    box-shadow: none !important;
    font-size: 14px;
    border-radius: 0;
}

.payement input:focus,
.payement select:focus {
    border: 1px solid #009c4e;
}

.payement button {
    background-color: #009c4e;
    color: #fff;
    margin-top: 2rem;
    border-radius: 3px !important;
    padding: 1rem;
    font-size: 15px;
}

.payement button:hover {
    border: 1px solid #fff;
    color: #009c4e;
    border: 2px solid #009c4e;
}

.payement .montant .row .card {
    cursor: pointer;
    position: relative;
    border: 0;
    border-radius: 0;
}

.payement .montant .row .card.choisi {
    border: 3px solid #009c4e;
}

.payement .montant .row .card svg {
    color: #009c4e;
    background-color: #fff;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.payement .grille {
    display: grid;
    grid-template-columns: repeat(4, 22%);
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}

.payement .grille .card {
    height: 100%;
    width: 100%;
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 0;
}

.termeDec {
    border: 1px solid #ddd;
    padding: 1rem;
}

.termeDec p {
    padding: 0;
    margin: 0;
    margin-top: 1rem;
}

.btnTermes {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.btnTermes input {
    height: 20px;
    width: 20px;
}

.categorieJeune{
    appearance: auto !important;
}

.Toastify__toast-container{
    z-index: 10000000000000000 !important;
}

.btnTermes input:checked {
    background-color: #009c4e !important;
    border-color: #009c4e !important;
}

.labelLue {
    color: #009c4e;
}

.titleTerme {
    font-size: 1.1rem !important;
    margin-top: 2rem !important;
    font-weight: 500;
    font-family: "Poppins";
}

.payement .grille .card img {
    height: 100%;
    width: 100%;
    object-fit: scale-down;
}

.paiementModes .col-sm-4 .card {
    height: 250px;
}

.paiementModes .col-sm-4 .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.paiementModes .col-sm-4 .card p {
    text-align: center !important;
}

.textPayement {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.anonymat {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.anonymat input {
    width: 16%;
    border: 2px solid #009c4e;
    height: 25px;
}

.form-check-input:checked {
    background-color: #009c4e !important;
    border-color: #009c4e !important;
}

.infosData div {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 12px;
}

.accpteClassName{
    text-decoration: none !important;
}

.mobilesBank .card.checked {
    border-color: #009c4e !important;
}

.lireTermes {
    background-color: #fff !important;
    color: #555 !important;
    padding: 0 !important;
    border: none !important;
    margin-top: .5rem !important;
    font-size: 12px !important;
    font-style: italic !important;
    text-decoration: underline !important;
}

.mobilesBank .card.checked svg {
    color: #009c4e;
    background-color: #fff;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width:1200px) {
    .payement {
        width: 75%;
    }
}

@media screen and (max-width:900px) {
    .payement {
        width: 80%;
    }
}

@media screen and (max-width:850px) {
    .payement {
        width: 90%;
    }
}

@media screen and (max-width:700px) {
    .payement {
        width: 100%;
    }

    .payement a {
        margin-left: 10px;
    }
}

@media screen and (max-width:600px) {
    .textPayement {
        margin-top: 1rem;
        gap: 1rem
    }

    .anonymat {
        flex-direction: row;
    }

    .payement .grille {
        display: grid;
        grid-template-columns: repeat(4, 23%);
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin: auto;
    }

    .payement h5 {
        font-size: 1.5rem !important;
        width: 90%;
        margin: 1rem auto !important;
    }

    .lableDate {
        margin-top: 1rem !important;
    }
}

@media screen and (max-width:400px) {
    .payement {
        width: 100%;
    }

    .payement button {
        width: 100% !important;
    }
}