.influenceurs {
    display: flex !important;
    font-size: 14px !important;
}


.influenceurs .main {
    margin-top: 20px !important;
    padding-right: 2rem !important;
    margin-top: 100px !important;

}

.influenceurs .form-control,
.influenceurs textarea {
    box-shadow: none !important;
}

.influenceurs .main .alert {
    width: 100% !important;
    height: 100px !important;
    background-color: #fff !important;
    display: flex;
    align-items: center !important;
    border: 0;
}

.influenceurs .main .alert .input-group {
    display: flex !important;
    align-items: center !important;
    gap: 1rem !important;
    width: 100% !important;
}

.influenceurs .main .alert .input-group input {
    box-shadow: none !important;
}

.influenceurs .main .col-sm-4 .btn-sucess {
    display: flex !important;
    align-items: center !important;
    gap: .5rem !important;
    float: right !important;
    background-color: #009c4e !important;
    border: 0;
    color: #fff;
}

.influenceurs .tableCategorie {
    background-color: #fff !important;
    padding: 1rem;
    border-radius: 5px;
}

.influenceurs a {
    color: #fff;
    text-decoration: none;
}

.influenceurs a:hover {
    color: #fff;
}

.influenceurs .retour {
    display: flex;
    align-items: center;
    gap: .6rem;
    font-size: 15px;
}

.influenceurs .imageCard {
    height: 400px;
}

.influenceurs .imageCard .card {
    width: 100% !important;
    height: 100% !important;
}

.influenceurs .imageCard .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.categories .noneImage {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    text-align: center !important;
    height: 200px;
    border: 5px dotted #009c4e;
    gap: 1rem;
}

.influenceurs .btnList {
    border: 1px solid silver;
    padding: 5px;
    margin-right: 5px;
    border-radius: 4px;
}

.influenceurs td {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px !important;
}

.influenceurs th {
    font-weight: 700;
}

.swal-button--danger {
    background-color: #009c4e !important
}

.influenceurs .form-check-input {
    box-shadow: none !important;
}

.influenceurs .form-check-input:checked {
    background-color: #009c4e;
    box-shadow: none !important;
}

.cards .card {
    height: 200px;
    border: 1px solid #ddd !important;
    border-radius: 2px !important;
}

.cards .card img {
    width: 100% !important;
    height: 100%;
    object-fit: scale-down;
}

.imagesCagnotte .card {
    width: 100%;
    height: auto;
    border-radius: 2px !important;
}

.imagesCagnotte .card .card-body {
    width: 100%;
    height: 100%;
}

.imagesCagnotte .card .card-body img {
    height: 100%;
    width: 100%;
    object-fit: scale-down;
}


.flexDataDetailCagnotte {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-between;
    min-height: 400px;
    padding: 1rem;
}

.flexDataDetailCagnotte .col-sm-8 td{
    text-align: justify;
}

.flexDataDetailCagnotte .col-sm-3 {
    text-align: center;
}

.imagesCagnotte .grilleCards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 49%);
    gap: 3px;
    justify-content: space-around;
}