.mainCol {
    background-color: #ddd;
}

.cagnotte {
    width: 100%;
    font-family: "Segoe UI" !important;
    min-height: 100vh;
}

.formSearch {
    display: flex;
    align-items: center;
    border: 2px solid #ddd;
    width: 50%;
    margin: auto;
    padding-left: 1rem;
    border-radius: 3px;

}

.cagnotte .headerTop div svg {
    font-size: 1.4rem;
}

.fodrmSearch{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.cagnotte .mainSearch {
    width: 75%;
    min-height: 100%;
    margin: 1rem auto;
}

.fodrmSearch h5{
    font-size: 1.3rem !important;
}

.cagnotte .mainSearch .inputSearch {
   background-color: #fff;
   display: flex;
   flex-direction: column !important;
   justify-content: center;
   align-items: center;
   height: 250px;
   border-top-left-radius: 7px;
   border-top-right-radius: 7px;
}

.cagnotte .mainSearch .inputSearch input {
    border: none;
    box-shadow: none;
}

.cagnotte .categoriesCagnottes {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    gap: 1.2rem;
    background-color: #009c4e;
    border-bottom-left-radius: 7px !important;
    border-bottom-right-radius: 7px;
}

.cagnotte .categoriesCagnottes a {
    font-size: 14px;
    text-decoration: none;
    color: #fff;
}

.cagnotte .categoriesCagnottes .show {
    border-bottom: 1px solid #fff;
    padding-bottom: 0.2rem;
}

.cagnotte .productions {
    width: 75%;
    display: grid;
    grid-template-columns: repeat(3, 32.33%);
    justify-content: space-between;
    align-items: center;
    margin: 0.9rem auto;
}

.cagnotte .productions .card {
    height: 500px;
    border: 0;
    background-color: #fff;
    border-radius: 7px !important;
    margin-bottom: 1rem;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.cagnotte .productions .card .image {
    height: 50%;
    position: relative;
}

.cagnotte .productions .card .image .overPlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.cagnotte .productions .card .title {
    font-size: 1.4rem !important;
    font-family: "Segoe UI" !important;
    text-align: center;
    font-weight: bold;
}

.cagnotte .productions .textMain {
    position: absolute;
    left: 4%;
    color: #ddd;
    bottom: 4%;
}

.cagnotte .productions .textMain .bgTitle {
    color: #fff;
    font-size: .7rem;
    font-weight: bold;
    padding: .3rem;
    border-radius: 4px;
}

.titleImportant {
    font-size: 1rem;
    font-weight: bold;
    padding: .3rem;
    border-radius: 0;
}

.cagnotte .productions .textMain span:last-child {
    padding: 0 .2rem;
    font-size: .7rem;
}

.cagnotte .productions .card .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 0;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.cagnotte .productions .card a {
    height: 100%;
    color: #444;
    text-decoration: none;
}

.cagnotte .productions .card .montant {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.cagnotte .productions .card .montant .prixRecoltat,
.cagnotte .productions .card .devise {
    font-family: "Segoe UI" !important;
    font-size: 2rem !important;
    font-weight: bold;
    text-align: center;
    color: #666;
}

.cagnotte .productions .collect {
    text-align: center;
    color: #666;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.cagnotte .productions hr {
    width: 50%;
    margin: 7px auto;
}

.cagnotte .productions .collect span:first-child {
    font-size: 1rem !important;
    font-family: "Segoe UI" !important;
}

.cagnotte .productions .collect span:last-child {
    font-size: 1.2rem !important;
    font-family: "Segoe UI" !important;
    font-weight: bold;
}

.cagnotte .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.cagnotte .card-body .lastDiv {
    text-align: center;
    margin-top: .6rem;
    border-radius: 7px;
    color: #fff;
    font-size: 14px;
    font-family: "Segoe UI" !important;
    border: 1px solid #ddd;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

@media screen and (max-width:1300px) {
    .cagnotte .productions {
        width: 80%;
        display: grid;
        grid-template-columns: repeat(3, 32.33%);
        justify-content: space-between;
        align-items: center;
        margin: 0.9rem auto;
    }

    .cagnotte .mainSearch {
        width: 80%;
        min-height: 100%;
        margin: 1rem auto;
        border-radius: 0 !important;
    }
}

@media screen and (max-width:1200px) {
    .cagnotte .productions {
        width: 90%;
    }

    .cagnotte .mainSearch {
        width: 90%;
    }
}

@media screen and (max-width:1100px) {
    .cagnotte .productions {
        width: 95%;
    }

    .cagnotte .mainSearch {
        width: 95%;
    }
}

@media screen and (max-width:900px) {
    .cagnotte .productions {
        width: 98%;
    }

    .cagnotte .mainSearch {
        width: 98%;
    }
}

@media screen and (max-width:850px) {
    .cagnotte .productions {
        display: grid;
        grid-template-columns: repeat(1, 100%);
        justify-content: space-between;
        align-items: center;
        margin: 0.9rem auto;
    }
}

@media screen and (max-width:600px) {
    .cagnotte .mainSearch {
        width: 98% !important;
    }

    .cagnotte .productions {
        grid-template-columns: repeat(auto-fill, 100%);
        width: 98% !important;
    }

    .cagnotte .productions .card {
        width: 100% !important;
    }
}