.headerTop {
    background-color: #009c4e;
    display: flex;
    justify-content: space-between;
    padding: .7rem 3rem;
    color: #fff;
}

.headerTop img {
    width: 100px;
}

.headerTop div {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.headerTop svg {
    cursor: pointer;
}

@media screen and (max-width:430px) {
    .headerTop {
        padding: .7rem 1rem !important;
    }
}

@media screen and (max-width:370px) {
    .headerTop {
        flex-direction: column !important;
    }
}