.demandes {
    display: flex !important;
    margin-top: 70px !important;
    font-family: "Poppins", sans-serif;
    font-size: 14px !important;
}

.demandes .main {
    margin-top: 20px !important;
    padding-right: 2rem !important;
}

.demandes .form-control,
.demandes textarea {
    box-shadow: none !important;
}

.demandes .main .alertInputSearch {
    width: 100% !important;
    height: 100px !important;
    background-color: #fff !important;
    border: 1px solid #fff !important;
    display: flex;
    align-items: center !important;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.demandes .main .alertInputSearch .input-group {
    display: flex !important;
    align-items: center !important;
    gap: 1rem !important;
    width: 100% !important;
}

.demandes .main .alertInputSearch .input-group input {
    box-shadow: none !important;
}

.demandes .main .col-sm-4 .btn-primary {
    display: flex !important;
    align-items: center !important;
    gap: .5rem !important;
    float: right !important;
    background-color: #1976d2 !important;
}

.demandes .tableCategorie {
    background-color: #fff !important;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}