.why {
    padding: 5rem;
    text-align: center;
}

.why h3 {
    font-size: 3rem !important;
    font-weight: bold;
}

.why .cardsData {
    display: flex;
    justify-content: center;
    gap: 2rem;
    width: 80%;
    align-items: center;
    margin: 3rem auto;
}


.why .cardsData .col1, .cardsData .col2{
    width: 49%;
}

.why .cardsData  img {
    width: 100% !important;
    height: 400px;
    object-fit: cover;
}