.why {
    padding: 5rem;
    text-align: center;
}

.why h3 {
    font-size: 3rem;
    font-weight: bold;
}

.why .cardsData {
    display: flex;
    justify-content: center;
    gap: 2rem;
    width: 80%;
    margin: 3rem auto;
}

.why .cardsData .card {
    width: 100%;
    height: auto;

}

.why .cardsData .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}